*{
  box-sizing: border-box;
  margin:0;
  /* DEBUG:  */
  border:1px solid black;
  padding:5px;
  }

body, html{
  width: 100%;
  height: 100vh;
  font-family: monospace;
}

.my-table-box{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.my-table *{
  /* padding:5px; */
}

.my-table > *{
  width: 800px;
  display: flex;
  justify-content: space-between;
}

.my-logo-tb{
  width: 15%;
}

.my-text-logo-tb{
  width: 70%;
}

.my-age-tb{
  width: 15%;
}

.my-table-row.n2 > *{
  width: calc(100% / 3);
}

.my-table-row.n3{
  justify-content: flex-start;
}


.my-text-sale-tb{
  width: 80%;
  }
.my-price-tb{
  width: 20%;
}
  /* griglia */

  /* media query */

   /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {
  }

  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
  }

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
  }

   /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
  }
